@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

style.css style.css * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 86px;
    height: 87px;
    flex-shrink: 0;
    color: black;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "JetBrains Mono";
font-size: 40px;
font-style: normal;
font-weight: 40;
line-height: normal;
justify-content: center;
}

/* :root {
    text-align: center;

    body {
        font-family: 'Arial', sans-serif;
        margin: 20;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f4f4f4;
    }

    #search-container {

        padding: auto;
    }

    #search-input {
        padding: 10px;
        width: 300px;
        margin-right: 10px;
        text-align: center;
    }

    #search-button {
        padding: 10px;
        background-color: #a7c5bd;
        border-radius: 50;
        color: #fff;
        cursor: pointer;
        border: none;

    }

    #filter-select {
        padding: 10px;

    } */