@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato-Bold", Helvetica;
  color: #333;
  background-color: #f8f8f8;
  font-weight: bold;
  padding: 0;
  height: 100vh;
}

.container__text {
  display: flex;
  flex-direction: column;
}

header {
  color: black;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "JetBrains Mono";
  font-size: 40px;
  font-style: normal;
  font-weight: 40;
  line-height: normal;
}

main {
  padding: 20px;
  background-color: ##e5ddcb;
  max-width: 1475px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* Adicionado para garantir que os itens estejam em coluna */
}

:root {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#search-container {

  padding: auto;
}

.imagem_card {
  width: 86px;
}

li {
  background-color: #a7c5bd;
  margin: 20px;
  width: 500px;
  padding: 20px;
  border-radius: 10%;
}

#search-input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  text-align: center;
}

#search-button {
  padding: 10px;
  background-color: #a7c5bd;
  border-radius: 50;
  color: #fff;
  cursor: pointer;
  border: none;

}


footer {
  background-color: #15161b;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

footer p {
  font-size: 18px;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: wrap;
}

.container__footer {
  max-width: 300px;
  margin: 0 auto;
  flex-direction: row;
}

#linkedinIcon {
  color: #fff;
  margin-right: 10px;
  width: 100px;
}
#githubIcon{
  color: #fff;
  margin-right: 10px;
  width: 100px;
}